@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-color: #d97652;
  --section-about-img-border-radius: 30px;
}

html {
  font-family: "SpoqaHanSansNeo-Regular", sans-serif;
  font-size: 10px;
}

/* 접근성 */
.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* 버튼 속성 통일 */
button {
  color: white;
  font-size: 1.6rem;
  font-weight: 700;
  background-color: var(--main-color);
  border-radius: 40px;
  width: 140px;
  height: 50px;
  text-align: center;
  cursor: pointer;
}

/* 헤더 */
header {
  width: 100%;
  min-width: 1220px;

  background: #f2e9d8;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 30px 320px;
}

.nav {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  align-items: center;
}

.nav-menu {
  font-size: 1.6rem;
  display: block;
}

/* 메인 */
main {
  width: 100%;
}

/* 홈 섹션 */
.section-home {
  background-color: #f2e9d8;
  display: flex;
  padding: 0 320px;
  gap: 128px;
}

.section-home .contents {
  margin-top: 200px;
}

.section-home_title {
  font-size: 4.8rem;
  font-weight: 700;
}

.section-home_des {
  margin: 40px 0;
  font-size: 1.6rem;
}

/* 어바웃 섹션 */
.section-about {
  background-color: #fff;
  padding-top: 80px;
}

.section-about img {
  border-radius: var(--section-about-img-border-radius);
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
}

.section-about_intro {
  display: flex;
  padding: 0 320px;
  gap: 110px;
}

.section-about_intro .intro-wrapper {
  width: 510px;
  align-self: center;
}

.section-about_intro .intro-wrapper .intro-title {
  font-size: 3.6rem;
  font-weight: 700;
}

.section-about_intro .intro-wrapper .intro-des {
  font-size: 1.6rem;
  margin-top: 30px;
}

.section-about_title,
.section-about_des {
  text-align: center;
}

.section-about_title {
  color: var(--main-color);
  font-size: 4.8rem;
  font-weight: 700;
  margin: 120px auto 30px auto;
}

.section-about_des {
  font-size: 1.6rem;
  width: 740px;
  margin: auto;
  text-align: center;
}

.section-about_des strong {
  color: var(--main-color);
}

.gallery {
  display: flex;
  justify-content: space-around;
  gap: 70px;
  padding: auto;
  margin: 90px auto;
}

.section-about_learn-more {
  display: flex;
  margin: auto 30%;
  justify-content: space-between;
  gap: 52px;
}

.learn-more_des {
  font-size: 1.6rem;
  width: 740px;
  text-align: start;
}

.btn-learn-more {
  flex-shrink: 0;
}

.subscribe {
  margin: auto;
  display: flex;
  background-color: #263140;
  color: #fff;
  max-width: 1280px;
  min-height: 200px;
  border-radius: 30px;
  justify-content: center;
}

.subscribe-wrapper {
  align-self: center;
}

.subscribe_title {
  font-size: 3.6rem;
  font-weight: 700;
}

.subscribe_des {
  font-size: 1.4rem;
  width: 491px;
}

.form-subscribe {
  background-color: #fff;
}

footer {
  width: 100%;
}
